*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
   height: 100%; 
   background-color: #eceff1;
   transition: 0.3s;
}

input[type="checkbox"]{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    background-color: #eceff1;
    box-shadow: 0.5px 0.5px 10px 0.5px #000;
    padding: 1rem 2rem;
    position: relative;
}

.card{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.card-image,
.card-details{
    padding: 2rem;
    width: 50%;
}
.card-image {
    position: relative;
    background-color: #eff7fc;
}

.card img{
    width: 130%;
    transform: rotate(-25deg);
    position: relative;
    right: 5rem;
    top: 0rem;
}

.card-image span{
    font-size: 6rem;
    font-weight: 900;
}

.card-details h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitle{
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description{
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.price-container{
    display: flex;
    justify-content: space-between;
}

.price{
    font-weight: 900;
    font-size: 2rem;
}

.btn{
    background-color: #444;
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
/* 
.bi-sun{
    display: none;
} */

/* Dark Theme js*/
.dark,
.dark header{
    background-color: #263238;
    color: #fff;
    width: 100%;
}

.bi-moon{
    display: none;
}
/* SO ISSO JA FAZ A FUNÇÃO */

/*Colocar Dark na frente para sobre escrever o thema*/
.dark .bi-sun{
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.dark .bi-moon{
    display: block;
}

.dark .bi-sun{
    display: none;
}  

 
main{
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
} 

.dark .card{
    background-color: #37474f;
}

.dark .card-image{
    background-color: #273035;
}

.dark .subtitle{
    color: #67b4f3;
}

.dark .description{
    color: 2196f3;
}

.dark .btn{
    background-color: #67b4f3;
}